header {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2;
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	background-color: rgb(60, 60, 60);
	transition: justify-content 0.5s ease-in-out;
}

header h2 {
	flex-grow: 0.5;
}

nav {
	display: flex;
	justify-content: space-between;
	position: relative;
	text-align: center;
	flex-grow: 1;
	margin-right: 10%;
}

.nav-link {
	text-decoration: none;
	color: white;
}

.nav-link:hover {
	text-decoration: underline;
	color: lightskyblue;
	cursor: pointer;
}

.nav-projects {
	color: white;
	width: fit-content;
	text-align: center;
	position: relative;
}

.nav-projects:hover {
	cursor: pointer;
}

#proj-links, #proj-links-mobile {
	text-align: center;
	position: absolute;
	overflow-y: hidden;
	left: -42.5px;
	top: calc(100% + 10px);
	max-height: 0px;
	width: 150px;
	z-index: 1;
	transition: max-height 0.75s ease-in-out;
}

.projects {
	display: block;
	padding: 5px 10px;
	background-color: rgb(60, 60, 60);
}

#mobile-nav {
	display: none;
	position: fixed;
	height: calc(100vh - 51.6px);
	top: 51.6px;
	left: 100vw;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: normal;
	background-color: rgb(60, 60, 60);
	transition: left 0.5s;
	line-height: 3.7rem;
	overflow-y: auto;
	overscroll-behavior: contain;
	overflow-x: hidden;
}

#mobile-nav * {
	display: inline-block;
	margin: 10px 0px;
	font-size: 3rem;
	height: 3.7rem;
	vertical-align: middle;
	flex-shrink: 0;
	transition: all 0.25s ease-in-out;
}

#mobile-nav-button img {
	width: 31.6px;
	height: 31.6px;
}

#mobile-nav-button {
	display: none;
	flex-grow: 0;
	width: 31.6px;
	height: 31.6px;
	border: none;
	padding: 0;
	margin-right: 10%;
	background-color: rgba(0, 0, 0, 0);
}

#projects-mobile {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	height: 3.5rem;
	border: none;
	overflow: hidden;
	transition: height 0.25s ease-in-out;
}

#projects-mobile:hover {
	text-decoration: none;
	color: white;
}

#projects-mobile:active {
	color: white;
	text-decoration: none;
}

#proj-links-mobile {
	position: relative;
	display: flex;
	flex-direction: column;
	height: fit-content;
	top: 0;
	left: 0;
	width: 100vw;
	max-height: 1000px;
	margin-bottom: 0;
	background-color: rgb(50, 50, 50);
}

#proj-links-mobile .nav-link {
	display: block;
	font-size: 2rem;
	height: fit-content;
	padding-block: 5px;
	margin: 5px 0;
	background-color: rgb(50, 50, 50);
}

#nav-arrow {
	rotate: 90deg;
	height: 40px;
	transition: rotate 0.25s ease-in-out;
}

@media only screen and (max-width: 600px) {
	#desktop-nav {
		display: none;
	}
	#mobile-nav-button {
		display: inline-block;
	}
	#mobile-nav {
		display: flex;
	}
	header {
		justify-content: space-between;
	}

	header h2 {
		flex-grow: 0.17;
	}
}